[user]
  name = {{ .name }}
  email = {{ .email }}
  message = "Hellow world"
{{ if eq .chezmoi.os "linux" }}
  signingkey = "{{ .git.sshSigningKey }}"

[commit]
  gpgsign = true

[gpg]
  format = ssh

[core]
  editor = vim

[gpg "ssh"]
  program = /opt/1Password/op-ssh-sign
{{ end }}
