Host github.com bitbucket.org
  User git
  IdentityAgent ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
  UseKeyChain yes

Host github-p10 github-ante-travelier ante-travelier
  HostName github.com
  User git
  IdentityAgent ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
  IdentityFile ~/.ssh/p10.pub
  IdentitiesOnly yes
  UseKeyChain yes
